<a href="https://colab.research.google.com/github/HebahAlshamlan/GASTAT-task/blob/master/Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from openpyxl import load_workbook

file_df = pd.read_excel("tamimi_final.xlsx")
wb = load_workbook("tamimi_final.xlsx")
ws = wb.get_sheet_by_name('Sheet1')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).

In [ ]:
import pandas as pd
from openpyxl import load_workbook

file_df = pd.read_excel("tamimi_final.xlsx")
wb = load_workbook("tamimi_final.xlsx")
ws = wb.get_sheet_by_name('Sheet1')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).

In [ ]:
import pandas as pd
import matplotlib as plt
import numpy as np
import torch
import torch.nn as nn
import torch.optim as optim
from torch.autograd import Variable
import torch.nn.functional as F
from sklearn.utils import shuffle

pd.set_option('max_colwidth',400)

# PreProcessing

In [ ]:
#This file has the comments only with empty lines
pd.set_option('max_colwidth',400)
# dataset = pd.read_excel('preprocessed_all_videos_word_embeddings_dataset_aravec_new.xlsx')
#data = pd.read_csv('~/Dropbox/GP/GP - Deep Learning/Dataset/preprocessed_tokenized_3_videos_nan.csv')
dataset = pd.read_excel('tamimiNodup1.xlsx')
print(dataset.shape)
#print(data.shape)

dataset.head()

FileNotFoundError: ignored

In [ ]:
import pandas as pd

# Find what the duplicate were
duplicate_row_index = dataset.duplicated(subset=["createdAt", "brand", "productName", "productVariant", "category", "generalCategory" , "price", "discount", "VAT","superCategory"], keep="first")
all_duplicate_rows = dataset[duplicate_row_index]
duplicate_rows = all_duplicate_rows.drop_duplicates(subset=["createdAt", "brand", "productName", "productVariant", "category", "generalCategory" , "price", "discount", "VAT","superCategory"], keep="first")
duplicate_rows.to_excel("Tamimi_NoD.xlsx", index=False)

In [ ]:
duplicate_rows

In [ ]:
dataset = pd.read_excel('Tamimi_NoD.xlsx')
duplicate_row_diff = dataset.duplicated(subset=[ "brand", "productName", "productVariant", "category", "generalCategory" ,"superCategory"], keep="first")
all_duplicate_rows = dataset[duplicate_row_diff]

In [ ]:
all_duplicate_rows

In [ ]:
duplicate_row_diff.to_excel("Tamimi_NoD_data.xlsx", index=False)

# Calculation

In [ ]:
import pandas as pd
from openpyxl import load_workbook

file_df = pd.read_excel("tamimi_final.xlsx")
wb = load_workbook("tamimi_final.xlsx")
ws = wb.get_sheet_by_name('Sheet1')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).

In [ ]:
file_df

                    Unnamed: 0 Unnamed: 1  ... Unnamed: 10  March
0    2020-04-01T00:32:33+03:00   Ez Clean  ...        0.00  60.00
1    2020-04-01T00:32:34+03:00       TANG  ...        0.00  30.00
2    2020-04-01T00:32:34+03:00       TANG  ...        0.00  30.00
3    2020-04-01T00:32:34+03:00       TANG  ...        0.00  30.00
4    2020-04-01T00:32:34+03:00       TANG  ...        0.00  30.00
..                         ...        ...  ...         ...    ...
167  2020-04-23T00:29:42+03:00        NaN  ...        5.00  14.95
168  2020-04-29T00:32:51+03:00       Nada  ...        2.55  14.95
169  2020-04-29T00:32:55+03:00       Nada  ...        2.55  14.95
170  2020-04-29T00:32:55+03:00       Nada  ...        2.55  14.95
171  2020-04-07T00:34:07+03:00  Coca Cola  ...        0.00   2.50

[172 rows x 12 columns]

In [ ]:
April = []
March = []
AH = []
MH = []
AF = []
MF = []

In [ ]:
for i in range(len(file_df['April'])):
  April.append(file_df['April'][i])
  March.append(file_df['March'][i])
  if(file_df['Category'][i] == 'HEALTHY LIVING') or (file_df['Category'][i] == 'HEALTH & BEAUTY') :
    AH.append(file_df['April'][i])
    MH.append(file_df['March'][i])

  elif (file_df['Category'][i] == 'FRESH') or (file_df['Category'][i] == 'FOOD & BEVERAGES') :
    AF.append(file_df['April'][i])
    MF.append(file_df['March'][i])

#  Consumer Price Index (CPI)

In [ ]:
CPI_April = (sum(April) / sum(March))*100

In [ ]:
CPI_April

122.13664058367087

# Monthly change
(Laspeyres formula)

In [ ]:
house = 1.840464+0.935294+1.571799+0.36889+0.08639+1.932521

In [ ]:
import numpy 

ChangeFood = ((numpy.prod(AF) / numpy.prod(MF))**16.993649)**(1/18.77511)
ChangeHousing = ((numpy.prod(AH) / numpy.prod(MH))**house)**(1/6.735359)

In [ ]:
ChangeHousing

0.415436

In [ ]:
ChangeFood

0.324566