<a href="https://colab.research.google.com/github/HebahAlshamlan/GASTAT-task/blob/master/Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from openpyxl import load_workbook

file_df = pd.read_excel("tamimi_final.xlsx")
wb = load_workbook("tamimi_final.xlsx")
ws = wb.get_sheet_by_name('Sheet1')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).

In [0]:
import pandas as pd
from openpyxl import load_workbook

file_df = pd.read_excel("tamimi_final.xlsx")
wb = load_workbook("tamimi_final.xlsx")
ws = wb.get_sheet_by_name('Sheet1')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).

In [0]:
import pandas as pd
import matplotlib as plt
import numpy as np
import torch
import torch.nn as nn
import torch.optim as optim
from torch.autograd import Variable
import torch.nn.functional as F
from sklearn.utils import shuffle

pd.set_option('max_colwidth',400)

# PreProcessing

In [0]:
#This file has the comments only with empty lines
pd.set_option('max_colwidth',400)
# dataset = pd.read_excel('preprocessed_all_videos_word_embeddings_dataset_aravec_new.xlsx')
#data = pd.read_csv('~/Dropbox/GP/GP - Deep Learning/Dataset/preprocessed_tokenized_3_videos_nan.csv')
dataset = pd.read_excel('tamimiNodup1.xlsx')
print(dataset.shape)
#print(data.shape)

dataset.head()

In [0]:
import pandas as pd

# Find what the duplicate were
duplicate_row_index = dataset.duplicated(subset=["createdAt", "brand", "productName", "productVariant", "category", "generalCategory" , "price", "discount", "VAT","superCategory"], keep="first")
all_duplicate_rows = dataset[duplicate_row_index]
duplicate_rows = all_duplicate_rows.drop_duplicates(subset=["createdAt", "brand", "productName", "productVariant", "category", "generalCategory" , "price", "discount", "VAT","superCategory"], keep="first")
duplicate_rows.to_excel("Tamimi_NoD.xlsx", index=False)

In [0]:
duplicate_rows

                       createdAt           brand  ... VAT superCategory
520    2019-05-07T11:36:38+03:00          Tamimi  ... NaN         FRESH
521    2019-05-04T11:02:25+03:00          Tamimi  ... NaN         FRESH
522    2019-05-04T11:02:23+03:00          Tamimi  ... NaN         FRESH
523    2019-05-04T11:00:44+03:00          Tamimi  ... NaN         FRESH
524    2019-05-04T11:00:44+03:00          Tamimi  ... NaN         FRESH
...                          ...             ...  ...  ..           ...
16761  2020-02-24T00:19:41+03:00  Tamimi Markets  ... NaN     HOUSEHOLD
16762  2020-02-24T00:19:41+03:00  Tamimi Markets  ... NaN     HOUSEHOLD
16763  2020-02-24T00:19:41+03:00  Tamimi Markets  ... NaN     HOUSEHOLD
16764  2020-02-24T00:19:40+03:00  Tamimi Markets  ... NaN     HOUSEHOLD
16765  2020-02-24T00:19:39+03:00  Tamimi Markets  ... NaN     HOUSEHOLD

[4541 rows x 10 columns]

In [0]:
dataset = pd.read_excel('Tamimi_NoD.xlsx')
duplicate_row_diff = dataset.duplicated(subset=[ "brand", "productName", "productVariant", "category", "generalCategory" ,"superCategory"], keep="first")
all_duplicate_rows = dataset[duplicate_row_diff]

In [0]:
all_duplicate_rows

                      createdAt                brand  ... VAT     superCategory
53    2019-05-28T07:22:52+03:00               Alyoum  ... NaN             FRESH
155   2019-09-19T00:15:00+03:00             Al Alali  ... NaN  FOOD & BEVERAGES
182   2019-10-10T00:19:11+03:00                Goody  ... NaN  FOOD & BEVERAGES
199   2019-10-08T11:20:27+03:00               Galaxy  ... NaN  FOOD & BEVERAGES
394   2019-12-02T00:25:10+03:00             Langnese  ... NaN  FOOD & BEVERAGES
431   2019-05-04T10:58:20+03:00               7 days  ... NaN  FOOD & BEVERAGES
729   2019-12-02T00:25:24+03:00            Nectaflor  ... NaN  FOOD & BEVERAGES
1037  2019-12-31T11:36:23+03:00            Wonderful  ... NaN  FOOD & BEVERAGES
1185  2019-09-27T00:15:51+03:00              Cadbury  ... NaN  FOOD & BEVERAGES
1445  2019-12-31T02:14:51+03:00                 Oreo  ... NaN  FOOD & BEVERAGES
1446  2019-12-31T01:46:36+03:00               Deemah  ... NaN  FOOD & BEVERAGES
1476  2019-05-04T10:58:26+03:00               7 days  ... NaN  FOOD & BEVERAGES
1676  2019-09-24T11:41:20+03:00               Borgat  ... NaN  FOOD & BEVERAGES
2245  2019-08-01T00:11:06+03:00           Toll House  ... NaN  FOOD & BEVERAGES
2300  2019-05-04T11:01:17+03:00               Galaxy  ... NaN  FOOD & BEVERAGES
2436  2019-11-26T00:24:18+03:00             Perfetto  ... NaN  FOOD & BEVERAGES
2495  2019-05-04T10:57:36+03:00  Punjabi Al Muhaidib  ... NaN  FOOD & BEVERAGES
2742  2020-04-29T00:32:27+03:00                 Nada  ... NaN  FOOD & BEVERAGES
2747  2020-04-29T00:32:26+03:00                 Nada  ... NaN  FOOD & BEVERAGES
2810  2019-05-04T10:57:24+03:00              Holsten  ... NaN  FOOD & BEVERAGES
2812  2019-05-04T10:57:24+03:00              Holsten  ... NaN  FOOD & BEVERAGES
2825  2019-09-30T00:17:17+03:00               Suntop  ... NaN  FOOD & BEVERAGES
2891  2019-05-04T10:58:33+03:00              Holsten  ... NaN  FOOD & BEVERAGES
3045  2019-05-04T10:58:15+03:00               Suntop  ... NaN  FOOD & BEVERAGES
3073  2019-08-01T00:12:01+03:00                   V8  ... NaN  FOOD & BEVERAGES
3305  2019-08-08T00:06:00+03:00                Bonny  ... NaN  FOOD & BEVERAGES
3339  2019-08-01T00:10:15+03:00           Canada Dry  ... NaN  FOOD & BEVERAGES
3381  2019-05-04T10:58:58+03:00        Betty Crocker  ... NaN  FOOD & BEVERAGES
3699  2019-12-07T00:27:21+03:00            Dr Oetker  ... NaN  FOOD & BEVERAGES
3713  2019-11-20T11:26:28+03:00               Fadeco  ... NaN  FOOD & BEVERAGES
3730  2019-05-22T11:53:31+03:00               Galaxy  ... NaN  FOOD & BEVERAGES
3954  2019-05-22T11:53:35+03:00            AL KABEER  ... NaN  FOOD & BEVERAGES
4136  2020-03-30T00:34:19+03:00               Gorton  ... NaN  FOOD & BEVERAGES
4378  2019-10-23T00:19:30+03:00              Colgate  ... NaN   HEALTH & BEAUTY

[34 rows x 10 columns]

In [0]:
duplicate_row_diff.to_excel("Tamimi_NoD_data.xlsx", index=False)

# Calculation

In [2]:
import pandas as pd
from openpyxl import load_workbook

file_df = pd.read_excel("tamimi_final.xlsx")
wb = load_workbook("tamimi_final.xlsx")
ws = wb.get_sheet_by_name('Sheet1')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).

In [3]:
file_df

                    Unnamed: 0 Unnamed: 1  ... Unnamed: 10  March
0    2020-04-01T00:32:33+03:00   Ez Clean  ...        0.00  60.00
1    2020-04-01T00:32:34+03:00       TANG  ...        0.00  30.00
2    2020-04-01T00:32:34+03:00       TANG  ...        0.00  30.00
3    2020-04-01T00:32:34+03:00       TANG  ...        0.00  30.00
4    2020-04-01T00:32:34+03:00       TANG  ...        0.00  30.00
..                         ...        ...  ...         ...    ...
167  2020-04-23T00:29:42+03:00        NaN  ...        5.00  14.95
168  2020-04-29T00:32:51+03:00       Nada  ...        2.55  14.95
169  2020-04-29T00:32:55+03:00       Nada  ...        2.55  14.95
170  2020-04-29T00:32:55+03:00       Nada  ...        2.55  14.95
171  2020-04-07T00:34:07+03:00  Coca Cola  ...        0.00   2.50

[172 rows x 12 columns]

In [0]:
April = []
March = []
AH = []
MH = []
AF = []
MF = []

In [0]:
for i in range(len(file_df['April'])):
  April.append(file_df['April'][i])
  March.append(file_df['March'][i])
  if(file_df['Category'][i] == 'HEALTHY LIVING') or (file_df['Category'][i] == 'HEALTH & BEAUTY') :
    AH.append(file_df['April'][i])
    MH.append(file_df['March'][i])

  elif (file_df['Category'][i] == 'FRESH') or (file_df['Category'][i] == 'FOOD & BEVERAGES') :
    AF.append(file_df['April'][i])
    MF.append(file_df['March'][i])

#  Consumer Price Index (CPI)

In [0]:
CPI_April = (sum(April) / sum(March))*100

In [7]:
CPI_April

122.13664058367087

In [11]:
CPI_H

143.81708572268786

In [12]:
CPI_F

113.79609753062327

# Monthly change
(Laspeyres formula)

In [0]:
house = 1.840464+0.935294+1.571799+0.36889+0.08639+1.932521

In [0]:
ChangeHousing = ((sum(AH) / sum(MH))**16.993649)**(1/18.77511)
ChangeFood = ((sum(AF) / sum(MF))**house)**(1/6.735359)

In [11]:
ChangeHousing

1.3894302982942373

In [12]:
ChangeFood

1.1379609534710422